//
// Notification mixins
// --------------------------------------------------


@mixin notification-theme($background, $alt, $color) {
  background-color: $background;
  color: $color;

  .#{$notification-css-prefix}__icon { background-color: $alt; }

  .#{$notification-css-prefix}__countdown { background-color: lighten($background,10%); }

  .#{$notification-css-prefix}__close { color: $alt; }
}
